/* Fonts.
-------------------------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}
body {
  text-decoration: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
p {
  hyphens: auto;
  margin: 0 0 20px 0;
}
b,
strong {
  font-weight: bold;
}
blockquote p {
  font-weight: 300;
}
cite {
  font: 1.2em/1.2em;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
  margin: 0;
  padding: 0 0 10px 0;
}
small {
  font-size: 0.7em;
  line-height: 1em;
}