{# Map container #}
<div class="google-map-container" id="google-gmap" style="width: {{ width }}; height: {{ height }}">
  <div class="google-map-privacy-placeholder" style="display: none">
    <div>
      <p><strong>Google Maps</strong></p>
      <p>Setzt Cookies, um Google Karten zu entsperren.</p>
      <p><button class="primary">Ich stimme zu, Karte anzeigen</button></p>
    </div>
  </div>
</div>

{# Legend #}
{{ legend }}
