{% if rows|length > 0 %}
  <div class="axalta-misc-views-masonry-grid lightbox-gallery">
    {% for row in rows %}
      <div class="grid-item">
        {{- row -}}
      </div>
    {% endfor %}
  </div>
{% endif %}
