{# Map container #}
<div class="google-map-container" id="google-gmap" style="width:100%; height: 70vh; max-height: 700px; min-height: 300px;">
  <div class="google-map-privacy-placeholder flex-center" style="display: none">
    <div class="col-10-s08-m06-l05">
      <p>Diese Webseite verwendet Google Maps um Kartenmaterial einzubinden. Bitte beachten Sie, dass hierbei Ihre persönlichen Daten erfasst und gesammelt werden können. Um die Google Maps Karte zu sehen, stimmen Sie bitte zu, dass diese vom Google-Server geladen wird. Weitere Informationen finden sie <a href="https://policies.google.com/privacy?hl=de" target="_blank">HIER</a>.</p>
      <p><button class="primary">Google Maps aktivieren</button></p>
    </div>
  </div>
</div>
