<article{{attributes.addClass('article-node')}}>

	<div{{content_attributes}}>

		<div class="field-content">
			{{ content.field_content_article }}
			<div class="tag-list">
				<hr/>
				<span>tags:</span> {{ content.field_tags }}
			</div>
		</div>

	</div>

</article>